  <header class="masthead">
    <ul class="language-nav">
      <li><a href="#"><strong>CSS</strong></a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>

    <img class="logo" src="assets/AA_Times_Logo.png" alt="">

    <ul class="masthead-links">
      <li><time>Tuesday, October 18, 2016</time></li>

      <li>
        <i class="far fa-newspaper"></i>
        <a href="#">Today’s Paper</a>
      </li>

      <li>
        <i class="fas fa-video"></i>
        <a href="#">Video</a>
      </li>

      <li>
        <i class="fas fa-thermometer-three-quarters"></i>
        <button type="button" name="button">77°F</button>
      </li>

      <li>
        <button type="button" name="button">AAO <strong>+100% <i class="far fa-thumbs-up"></i></strong></button>
      </li>
    </ul>
  </header>
