<!-- Log in page -->

<h3>Log In Below!</h3>

<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">

  <label for="email">Email: </label>
  <input id="email" type="text" name="user[email]">

  <label for="password">Password: </label>
  <input id="password" type="text" name="user[password]">

  <input type="submit" value="Log In">
</form>
