<h1>Create Sub</h1>

<form action="<%= subs_url %>" method="post">
  <%= auth_token %>

  <label>
    Title:
    <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>

  <label>
    Description:
    <textarea name="sub[description]" rows="8" cols="80"><%= @sub.description %></textarea>
  </label>

  <input type="submit" name="" value="Create Sub">
</form>
