<h2>Edit <%= @band.name %>:</h2>

<form action="<%= band_url %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="name">Name: </label>
  <input id="name" type="text" name="band[name]" value="<%= @band.name %>">

  <input type="submit" value="Update Band">
</form>
