<h2>Create Band Below:</h2>

<form action="<%= bands_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="name">Name: </label>
  <input id="name" type="text" name="band[name]">

  <input type="submit" value="Create Band">
</form>
