<h1>New Comment</h1>

<form class="" action="<%= comments_url %>" method="post">
  <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">
  <%= auth_token %>

  <label>
    Content
    <textarea name="comment[content]" rows="8" cols="80"></textarea>
  </label>

  <input type="submit" name="" value="Add Comment">

</form>
